name: Android CI
on:
  push:
    branches: [ "Master" ]
  pull_request:
    branches: [ "Master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
          java-version: '11'
          distribution: 'temurin'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - name: Build Debug .apk
      run: ./gradlew assembleDebug
    - name: Create zip with symlink
      run: zip --symlinks -r myzip.zip ./*
    - name: Upload zip as artifact
      uses: actions/upload-artifact@v3
      with:
          name: test
          path: myzip.zip
    
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
          name: app-debug
          path: |
           - ${{ github.workspace }}*app-debug.apk
    - name: Build and Release Debug APK
      uses: valley-fordham/action-release-debugapk@0.1
      with:
       run: git config --global --add safe.directory "${GITHUB_WORKSPACE}"
